<div class="nav">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "logo", class: "logo" %>
  <% end %>
    
    <ul class="nav-links lu">
      <li class = "nav-linky li">
        <%= link_to "Find a Bike", bikes_path, class: "nav-linky" %>
      </li>
      <li class="nav-linky li">
        <%= link_to "Host Your Bike", bikes_new_path, class: "nav-linky" %>
      </li>

      <li class="nav-linky li">
        <%= link_to "Host Your Bike", bikes_new_path, class: "nav-linky" %>
      </li>
    </ul>
    
  </div>
</div>