<div class="nav">
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "logo", class: "logo" %>
  <% end %>
    
    <ul class="nav-links lu">
      <li class="nav-linky li">
        <%= link_to "Find a Bike", styleguide_path, class: 'button primary-btn btn-txt-body-primary button-block' %>
      </li>
<<<<<<< HEAD

=======
      
>>>>>>> b7f03a0d07d129dfd42b450ac8e8547fed4d3044
      <li class = "nav-linky li">
        <%= link_to "Host a Bike", styleguide_path, class: 'button primary-btn btn-txt-body-primary button-block' %>
      </li>
      <li class = "nav-linky li">
        <%= link_to "Sign In", styleguide_path, class: 'button primary-btn btn-txt-body-primary button-block' %>
<<<<<<< HEAD
=======

>>>>>>> b7f03a0d07d129dfd42b450ac8e8547fed4d3044
      </li>
    </ul>

  </div>
</div>
