<div class="complete-dashboard">
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="dashboard-container">

      <div class="title">
        
        <br><h1>Dashboard</h1><br><br>
      </div>

      <div class="intro">
        <h2>Hello<%= " #{current_user.first_name} #{current_user.last_name}" %></h2>
        <p><small><%= "Joined #{current_user.created_at}" %></small></p>
      </div> <%#div intro end %>

      <div class="mybikes"><br>
        <h2 id="mybikes">My Bikes</h2>

  <%# MANON'S my bikes horizontal card ----------------------- %>
        <%= render 'my-bikes-card' %><br>
        <%= link_to "Add new bike", '/bikes/new' %><br><br>
  <%# END MANON'S my bikes horizontal card ----------------------- %>
      </div> <%#div my bikes end %>


      <div class="mybookings">
        <h2 id="mybookings">My bookings</h2>
  <%# MANONS card my-bookings----------------------- %>
        <%= render 'my-bookings-card' %><br><br>
        
        <h2 id="bookingrequests">Booking Requests</h2>
        <%= render 'my-requests-card' %><br>

        <%= link_to "View all received bookings", '/dashboard#bookings' %><br><br>
  <%# end MANONS card my-bookings----------------------- %>
      </div><%#div my bookings end %>
    </div>
</div>
