<div class="complete-dashboard">
  <div class="sidebar">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="dashboard-container">
    <div class="title">
      <h1>Dashboard</h1>
    </div>

    <div class="intro">
      <h2>Hello<%= " #{current_user.first_name} #{current_user.last_name}" %></h2>
      <p><small><%= " Joined #{current_user.created_at}" %></small></p>
    </div> <%#div intro end %>

    <div class="mybikes">
      <h2 id="mybikes">My Bikes</h2>
      <%= link_to "Add new bike", '/bikes/new' %>

<%# MANON'S my bikes horizontal card ----------------------- %>
      <% Bike.where("user_id = #{current_user.id}").first(4).each do |bike| %>
        <div class="card-horizontal">
          <%= cl_image_tag bike.pictures.first.key, height: 150, width: 150, crop: :fill %>

          <div class="card-horizontal-infos">
            <div class="horiz-card-text">
              <h2><%="#{bike.maker} #{bike.model}"%></h2>
              <p><%= bike.category  %></p>
              <p id="price"><%= bike.daily_price.truncate  %><span> IDR/day</span></p>
            </div>
            <div class="horiz-card-available">
              AVAILABLE
            </div>
          </div>
        </div>
      <% end  %>
    </div> <%#div my bikes end %>
<%# END MANON'S my bikes horizontal card ----------------------- %>
    
    <div class="mybookings">
      <h2 id="mybookings">My bookings</h2>

<%# MAX'S my-bookings----------------------- %>
      <% current_user.bookings.first(4).each do |booking| %>
        <div class="card p-2 m-2">
          <p> Current status: <%= booking.status  %> | <small><%= booking.created_at  %></small> </p>
          <p> I ordered
            <%= image_tag(booking.bike.pictures.first) %>
            <%= booking.bike.maker  %> |
            <%= booking.bike.model  %> |
            <%= booking.bike.year  %></p>
          <p>From: <%= booking.bike.user.first_name  %> <%= booking.bike.user.last_name  %> (<%= booking.bike.user.email  %>)</p>
        </div>
      <% end  %>

      <%= link_to "View all my bookings", '/dashboard#bookings' %>
<%# MAX'S my-bookings----------------------- %>
<%# MANONS card my-bookings----------------------- %>
<% Bike.where("user_id = #{current_user.id}").first(4).each do |bike| %>
  <div class="card-horizontal">
    <%= cl_image_tag bike.pictures.first.key, height: 150, width: 150, crop: :fill %>
    <div class="card-horizontal-infos">
      <div class="horiz-card-text">
        <h2><%="#{bike.maker} #{bike.model}"%></h2>
        <p>bike.booking.start date to bike.booking.start date</p>
        <%# <p id="price"><%= bike.daily_price.truncate  %>
        <%# <span> IDR/day</span></p> %>
        <p id="price">Total : <%= bike.daily_price.truncate  %> * days? <span> IDR</span></p>
      </div>
      <div class="horiz-card-available">
        CANCEL BOOKING
      </div>
    </div>
  </div>
<% end  %>
<%# END MANONS card my-bookings----------------------- %>


    </div><%#div my bookings end %>

    <div class="bookingrequests">
      <h2 id="bookingrequests">Booking Requests</h2>

<%# MAX'S card booking request ----------------------- %>
      <% current_user.received_bookings.first(4).each do |booking| %>
        <div class="card p-2">
          <p><%= booking.status  %> |
            <%= booking.bike.maker  %> |
            <%= booking.bike.model  %> |
            <%= booking.bike.year  %></p>
            <p><%= booking.user.email  %> |
            <%= booking.user.first_name  %> |
            <%= booking.user.last_name  %>
          </p>
        </div>
      <% end  %>
<%# MAX'S card booking request ----------------------- %>
<%# MANONS horizontal card my-booking requests----------------------- %>
<% Bike.where("user_id = #{current_user.id}").first(4).each do |bike| %>
  <div class="card-horizontal">
    <%= cl_image_tag bike.pictures.first.key, height: 150, width: 150, crop: :fill %>
    <div class="card-horizontal-infos">
      <div class="horiz-card-text">
        <h2><%="#{bike.maker} #{bike.model}"%></h2>
        <p>bike.booking.start date to bike.booking.start date</p>
        <%# <p id="price"><%= bike.daily_price.truncate  %>
        <%# <span> IDR/day</span></p> %>
        <p id="price">Total : <%= bike.daily_price.truncate  %> * days? <span> IDR</span></p>
      </div>
      <div class="horiz-card-available">
        SEE DETAILS / ACCEPT / REJECT
      </div>
    </div>
  </div>
<% end  %>
<%# END MANONS horizontal card my-bookings requests----------------------- %>

      <%= link_to "View all received bookings", '/dashboard#bookings' %>
    </div><%#div my bookingrequest end %>
  
</div> <%#div container end %>
</div>
<div class="footer">
  <h1>Footer</h1>
</div> <%# closing div for /footer %>
