<div class="sidebar">

<h1>Sidebar</h1>
    <%= render 'shared/sidebar' %>
<p>Avatar</p>

<div class="container">
<h1>Main page</h1>

<h2>Hello<%= " #{current_user.first_name} #{current_user.last_name}" %></h2>
<p><small><%= " Joined #{current_user.created_at}" %></small></p>

<h2 id="mybikes">My Bikes</h2>
<%= link_to "Add new bike", '/bikes/new' %>

<% Bike.where("user_id = #{current_user.id}").first(4).each do |bike| %>
<div class="card p-2">
  <%= image_tag(bike.pictures.first) %>
  <p><%= bike.maker  %> |
    <%= bike.model  %> |
    <%= bike.year  %> |
    <%= bike.location  %> |
    <%= bike.longitude  %> |
    <%= bike.latitude  %> |
    <%= bike.mileage  %></p>
</div>
<% end  %>

<%= link_to "View all", '/dashboard#my_bikes' %>

<h2 id="mybookings">My bookings</h2>

<% current_user.bookings.first(4).each do |booking| %>
<div class="card p-2 m-2">
  <p> Current status: <%= booking.status  %> | <small><%= booking.created_at  %></small> </p>
  <p> I ordered
    <%= image_tag(booking.bike.pictures.first) %>
    <%= booking.bike.maker  %> |
    <%= booking.bike.model  %> |
    <%= booking.bike.year  %></p>
  <p>From: <%= booking.bike.user.first_name  %> <%= booking.bike.user.last_name  %> (<%= booking.bike.user.email  %>)</p>

</div>
<% end  %>

<%= link_to "View all my bookings", '/dashboard#bookings' %>

<h2 id="bookingrequests">Booking Requests</h2>

<% current_user.received_bookings.first(4).each do |booking| %>
<div class="card p-2">
  <p><%= booking.status  %> |
    <%= booking.bike.maker  %> |
    <%= booking.bike.model  %> |
    <%= booking.bike.year  %></p>
    <p><%= booking.user.email  %> |
    <%= booking.user.first_name  %> |
    <%= booking.user.last_name  %>
  </p>
</div>
<% end  %>

<%= link_to "View all received bookings", '/dashboard#bookings' %>

</div> <%# closing div for /container %>

<div class="footer">
<h1>Footer</h1>
</div>
