<div class="header">
    <div class="content">
      <h1 class="banner-title">Welcome to B&B</h1>
      <h2 class="banner-title">Find the perfect bike for you or rent your own and make money!</h2><br>
      <%= form_tag bikes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a bike by model, location, maker, year, category ..."
      %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

    </div>
</div>

<%# <div class="my-container">
  <h2>Latest on the bike Listing</h2>
    <div class="row"> %>
          <%# <% Bike.first(4).each do |bike| %>
          <%# <div class="col">
            <div class="bike-card-small-rated"> %>
              <%# <%= image_tag "nmax1.jpg", alt: "Nmax 155", class: "bike" %>
              <%# <p><%= bike.maker  %>
                <%# <%= bike.model  %>
                <%# <%= bike.year  %>
                <%# <%= bike.location  %>
                <%# <%= bike.longitude  %>
                <%# <%= bike.latitude  %>
                <%# <%= bike.mileage  %>
              <%# </p>
            </div>
          </div> %>
        <%# <% end  %>
        <%# <%= link_to "View All Bikes", '/bikes' %>
    <%# </div>
  </div>
  <h2>Top Rated Bikes</h2>
    <div class="row"> %>
          <%# <% Bike.first(4).each do |bike| %>
          <%# <div class="col">
            <div class="bike-card-small-rated"> %>
              <%# <%= image_tag "nmax1.jpg", alt: "Nmax 155", class: "bike" %>
              <%# <p><%= bike.maker  %>
                <%# <%= bike.model  %>
                <%# <%= bike.year  %>
                <%# <%= bike.location  %>
                <%# <%= bike.longitude  %>
                <%# <%= bike.latitude  %>
                <%# <%= bike.mileage  %>
              <%# </p>
            </div>
          </div> %>
        <%# <% end  %>
        <%# <%= link_to "View All Bikes", '/bikes' %>
  <%# </div>
 </div>
</div> %>
