<div class="my-container">
    <h1>Styleguide</h1>

    <h2>Container</h2>
  <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum veniam velit fugiat reprehenderit, labore quo possimus? Voluptas, hic, distinctio sapiente molestiae odio rem corrupti unde doloribus,
  nihil quia nulla quibusdam!</p>

    <h2>Buttons</h2>
    <%= link_to "Host a Bike", styleguide_path, class: 'button primary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Find a Bike", styleguide_path, class: 'button primary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Discover More", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Continue", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Next", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Save", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to styleguide_path do %>
      <div class="button secondary-btn btn-txt-body-primary"><i class="fab fa-facebook"></i> Facebook</div>
    <% end %> <br>
    <%= link_to styleguide_path do %>
      <div class="button secondary-btn btn-txt-body-primary"><i class="fab fa-apple"></i> Apple ID</div>
    <% end %> <br>
    <%= link_to styleguide_path do %>
      <div class="button secondary-btn btn-txt-body-primary"><i class="fab fa-google"> </i> Google</div>
    <% end %> <br>
    <%= link_to "Find a Bike", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Host a Bike", styleguide_path, class: 'button secondary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Cancel Reservation", styleguide_path, class: 'button tertiary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Approve", styleguide_path, class: 'button tertiary-btn btn-txt-body-primary' %> <br>
    <%= link_to "Reject", styleguide_path, class: 'button tertiary-btn btn-txt-body-primary' %> <br>
    <%= link_to styleguide_path do %>
      <div class="button tertiary-btn btn-txt-body-primary"><i class="fas fa-search"></i></div>
    <% end %>
  <hr>

    <%= link_to 'See more', "#", class: "button-primary" %>
</div>

<h2>Cards</h2>
<div class="cards">
  <div class="bike-card-small-rated">
    <div class="bike-card-small-rated-header">
      <div class="star-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div>
        <i class="far fa-heart"></i>
      </div>
    </div>
    <div class="bike-card-small-rated-text">
      <%= image_tag 'nmax1.jpg' %>
      <h3>Yamaha | Nmax</h3>
      <p>Canggu, Bali, Indonesia</p>
    </div>
  </div>
</div>
<br>
<br>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_path 'NMax3.jpg'%>)">
  <div class="bike-price-med-vert">
    <h3>250,000 IDR/day</h3>
  </div>
  <div>
    <div class="bike-name-med-vert">
      <h3>Yamaha | Nmax</h3>
      <p>Canggu, Bali, Indonesia</p>
    </div>
    <div>
      <i class="fas fa-motorcycle">2021</i>
      <i class="fas fa-arrow-circle-right">30,000 KM</i>
      <i class="fas fa-star">4.9</i>
    </div>
  </div>
</div>

<div class="card-product">
  <%= image_tag "NMax3.jpg" %>
  <div>
    <div class="card-product-infos">
      <h3>250,000 IDR/day</h3>
    </div>
    <div class="card-product-infos" >
      <h3>Yamaha | Nmax</h3>
      <p>Canggu, Bali, Indonesia</p>
    </div>
    <div class="card-product-infos bike-name-med-vert" >
      <i class="fas fa-motorcycle">2021</i>
      <i class="fas fa-arrow-circle-right">30,000 KM</i>
      <i class="fas fa-star">4.9</i>
    </div>
  </div>
</div>


<div class="profile-card">
<img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div>
    <div>
      <h2>About Me</h2>
    </div>
    <div>
      <p>Midway attempted to put Chuck Norris into Mortal Kombat but decided against it due to programming errors with each button performing a roundhouse kick.</p>
    </div>
    <div>
      <div class="confirmation"><i class="fas fa-at"></i><h6> Email Confirmed</h6></div>
      <div class="confirmation"><i class="fas fa-mobile-alt"></i><h6> Mobile Confirmed</h6></div>
    </div>
    <br>
    <br>
    <div id="edit-profile">
      <a class="button secondary-btn btn-txt-body-primary button-block" href="#">Edit my Profile</a>
    </div>
    <div>
      <br>
      <br>
    </div>
  </div>
  <div class="profile-card-buttons">
  <div class="btn-ghost">My bikes</div>
  <div class="btn-ghost">Booking Requests</div>
  <div class="btn-ghost">Upcoming Bookings</div>
  <div class="btn-ghost">My Bookings</div>
  </div>
  <div>
    <br>
  </div>
</div>



------------------------------------
<div class="card-horizontal">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%="#{bike.maker} #{bike.model}"%></h2>
    <p><%= bike.category  %></p>
  </div>
</div>
