<div class="card-link">
<%= link_to bike_path(bike) do %>
<div class="bike-card-small-rated">

  <div class="bike-card-small-rated-header">
    <div class="star-container">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <i class="far fa-heart"></i>
  </div>

  <div class="bike-card-small-rated-text">

      <%= cl_image_tag bike.pictures.first.key, height: 200, width: 350, crop: :fill %>

    <div class="text">
      <h3><%="#{bike.maker} #{bike.model}"%></h3>
      <p>
        <%= bike.category  %> |
        <%= bike.location  %> |
        <%= bike.daily_price.truncate  %>IDR
      </p>
    </div>
  </div>

</div>
<% end %>
</div>
