<div class="bike-card-small-rated">

  <div class="bike-card-small-rated-header">
    <div class="star-container">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <i class="far fa-heart"></i>
  </div>

  <div class="bike-card-small-rated-text">
    <% bike.pictures.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 350, crop: :fill %>
    <% end %>
    <div class="text">
      <h3><%=link_to "#{bike.maker} #{bike.model}", bike_path(bike) %></h3>
      <p>
        <%= bike.category  %> |
        <%= bike.location  %> |
        <%= bike.daily_price.truncate  %>IDR
      </p>
    </div>
  </div>

</div>
