<div class="container">

  <div class="page-title">
    <h1>Bikes for rent :</h1>

    <hr>
  </div>
 
 <div class="searchbarcontainer">
 <%= form_tag bikes_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a bike by model, location, maker, year, category ..."
      %>
        <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %> 
 </div>

 

  <div class="card-map-container">
    <div id="map" style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>">
    </div>

    <div class="cards">
      <% @bikes.each do |bike| %>
        <%= render "bike", bike: bike %>
      <% end  %>

    </div>
  </div>

  </div>

</div>
