<h1>View all bikes</h1>

<% @bikes.each do |bike| %>
  <p><%=link_to bike.maker, bike_path(bike)  %> |
    <% bike.pictures.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %> |
    <%= bike.model  %> |
    <%= bike.year  %> |
    <%= bike.description  %> |
    <%= bike.category  %> |
    <%= bike.location  %> |
    <%= bike.mileage  %>km |
    <%= bike.daily_price.truncate  %>IDR</p>
<% end  %>
