<div class="container">

<div class="page-title">
  <h1>Bikes for rent :</h1>
  <hr>
</div>

<%# map! %>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"></div>
</div>

<%# ----------------SEARCHBAR--------------- %>
<%#= simple_form_for :bike, method: :get do |f| %>
  <%#= f.input :category, collection: Bike::CATEGORIES %>
  <%#= f.submit %>
<%# end %>

 <%= form_tag bikes_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "find a bike by model, location, maker, year, category ..."
      %>
        <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>


<div class="raw">
<div class="cards">
  <% @bikes.each do |bike| %>

<div class="col-6">

  <div class="bike-card-small-rated">

    <div class="bike-card-small-rated-header">
      <div class="star-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="far fa-heart"></i>
    </div>

    <div class="bike-card-small-rated-text">
    <% bike.pictures.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 400, crop: :fill %>
    <% end %>
    <div class="text">
      <h3><%=link_to "#{bike.maker} #{bike.model}", bike_path(bike) %></h3>
      <p>
      <%# <%= bike.year  %>
        <%# <%= bike.description  %>
        <%= bike.category  %> |
        <%= bike.location  %> |
        <%# <%= bike.mileage  %>
        <%= bike.daily_price.truncate  %>IDR</p>
      </div>
    </div>
  </div>
</div>

<% end  %>

</div>
