<div class="container">

<h1>All bikes</h1>

<%# map! %>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"></div>
</div>


<div class="raw">
<div class="cards">
  <% @bikes.each do |bike| %>

<div class="col-6">

  <div class="bike-card-small-rated">

    <div class="bike-card-small-rated-header">
      <div class="star-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <i class="far fa-heart"></i>
    </div>

    <div class="bike-card-small-rated-text">
    <% bike.pictures.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 400, crop: :fill %>
    <% end %>
    <h3><%=link_to "#{bike.maker} #{bike.model}", bike_path(bike) %></h3>
    <p>    <%= bike.year  %> |
      <%= bike.description  %> |
      <%= bike.category  %> |
      <%= bike.location  %> |
      <%= bike.mileage  %>km |
      <%= bike.daily_price.truncate  %>IDR</p>
    </div>
  </div>
</div>

<% end  %>

</div>
