<div class="container">
  <div class="row mt-3">
    <div class="col-8">
      <%# Carousel for photos - pure Bootstrap %>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <% @bike.pictures.each_with_index do |picture, i| %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i%>" class="<%= 'active' if i==0 %>" aria-current="<%= i==0 ? 'true' : 'false' %>" aria-label="Slide <%=i%>"></button>
          <% end %>
        </div>

        <div class="carousel-inner shadow-sm" style="border-radius: 1rem">
          <% @bike.pictures.each_with_index do |picture, i| %>
          <div class="carousel-item <%= 'active' if i==0 %>">
            <%= cl_image_tag picture.key, class: "d-block w-100", style: "height: 500px; object-fit: cover" %>
          </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <%# Column with price and owner data %>
    <div class="col-4 text-center my-5">
      <h1><%= @bike.daily_price.truncate.to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %> <small class="text-muted fw-light">IDR / Day</small></h1>
      <p class="text-muted fw-light"><%= (@bike.daily_price.truncate * 30).to_s.reverse.gsub(/...(?=.)/,'\& ').reverse %>IDR / month</p>
      <button type="button" style="color: #0B3954; border: 0" class="button btn-txt-body-primary secondary-btn mx-auto mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Rent this bike</button>
        <br><%#= cl_image_tag @bike.user.avatar_picture.key, class: "avatar-for-bike-page mt-3" %>
          
          <%= "#{@bike.user.first_name} #{@bike.user.last_name}" %><br>
          <%= @owner_avg_rating.nil? ? "" : "Average rating:" %> <strong><%= @owner_avg_rating %></strong>

      <%= link_to "Contact the host ✉", "mailto:#{@bike.user.email}", class: 'btn mx-auto mt-5' %>
          <em><%= @bike.user.email %></em><br>
    </div>

  <div class="row mt-3">
    <div class="col-12">
      <h2><%= @bike.maker %> <strong><%= @bike.model %></strong></h2>
      <h3 class="text-muted"><%= @bike.location %></h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <div class="card w-100">
        <div class="card-body text-center mt-2">
          <h5 class="card-title"><%= @bike.mileage  %> km</h5>
          <h6 class="card-subtitle mb-2 text-muted">mileage</h6>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card w-100">
        <div class="card-body text-center mt-2">
          <h5 class="card-title"><%= @bike.category  %></h5>
          <h6 class="card-subtitle mb-2 text-muted">category</h6>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card w-100">
        <div class="card-body text-center mt-2">
          <h5 class="card-title"><%= @bike.year  %></h5>
          <h6 class="card-subtitle mb-2 text-muted">year</h6>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card w-100">
        <div class="card-body text-center mt-2">

          <h5 class="card-title"><%= @bike_avg_rating.nil? ? "—" : @bike_avg_rating %></h5>

          <h6 class="card-subtitle mb-2 text-muted">Rating (<%= @bike.reviews.count %> reviews)</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
        <h2>Detailed description from the owner</h2>
        <p><%= "#{@bike.description}" %></p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card w-100">
        <div style="height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="[<%= @marker.to_json %>]"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2><%= @bike.reviews.count > 0 ? "Bike reviews" : "" %></h2>

      <% @bike.reviews.each do |review| %>
        <div class="card mb-4">
          <div class="card-header">
            Bike rating: <strong><%= review.bike_rating %></strong> |
            Owner rating: <strong><%= review.owner_rating %></strong>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= review.comment %></p>
              <footer class="blockquote-footer"><cite><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></cite></footer>
            </blockquote>
          </div>
          <div class="card-footer text-muted">
              Was booked on: <%= review.booking.created_at %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>

<%= render "bookings/new", bike: @bike, owner: @bike.user, user: current_user %>
    <%# <%= cl_image_tag @bike.pictures.first&.key %>
