<div class="my-container">

<div class="images">
  <div class="pic"><%= image_tag 'nmax1.jpeg' %></div>
  <div class="pic"><%= image_tag 'nmax1.jpeg' %></div>
</div>

<h1><%= @bike.model %></h1>

<ul class="">
  <li class="">Year : <%= @bike.year  %></li>
  <li class="">Description : <%= @bike.description  %></li>
  <li class="">Category : <%= @bike.category  %></li>
  <li class="">Location : <%= @bike.location  %></li>
  <li class="">Mileage : <%= @bike.mileage  %> Km</li>
  <li class="">Price : <%= @bike.daily_price.truncate  %>IDR/Day</li>
</ul>

</div>

    <%# <%= cl_image_tag @bike.pictures.first&.key %>
